body,html {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.page_body {
  padding: 0 10px;
}
.m-t-n40 {
  margin-top: -40px !important;
}
.p-l-8 {
  padding-left: 8px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-8 {
  margin-left: 8px;
}
.flex {
  display: flex;
}
.rc_app {
  padding: 0 16px;
  background-color: #f6f6f6;
}
.pull-refresh-box {
  height: 100%;
  overflow-y: auto;
}
.main-content {
  // padding: 0 16px;
  height: calc(100% - 46px);
  &::before {
    content: '';
    display: block;
    height: 44px;
  }
}
.text-over-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}